<%= cl_image_tag("i0cqzbvfm2lofbah8u1i.jpg", width: 150, height: 150, crop: :thumb, gravity: :face) %>

<div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="col">
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to cocktail_path(cocktail) do %>
            <%= cocktail.name %>
          <% end %>
        </h5>
      </div>
    </div>    
  </div>
  <% end %>  
</div>
