<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= link_to "Create new cocktail", new_cocktail_path, class: 'btn btn-primary btn-block my-3' %>

<div class="row">
  <%= render @cocktails %>
</div>


